#projects {
    display: flex;
        flex-direction: column;
}

.project {
    height: 300px;
    width: 40%;
}

#weather-app {
    background-image: url('../../pictures/weather-app-2.PNG');
    background-size: 100%;
    background-repeat: no-repeat;
}