.projects-container {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}

.projects-container > h3 {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
}

.projects {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 400px;
  display: flex;
  flex-direction: column;
  /* border: 4px ridge rgba(80, 10, 39, 1); */
  /* background:rgba(192, 157, 157, 0.5); */
  box-shadow: 2px 2px 7px rgb(107, 80, 80);
}

.project-img img {
  max-width: 100%;
}

.project-content {
  padding: 10px;
}

.project-title {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.project-description {
  text-align: center;
  margin-bottom: 20px;
}

.project-links {
  margin-top: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.project-link {
  background:rgba(66, 25, 42, 1);
  box-shadow: 1px 1px 5px rgb(107, 80, 80);
  border: 1px solid rgba(66, 25, 42, 1);
  color: #fff;
  padding: 6px 25px;
  border-radius: 25px;
  margin: 0 5px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.project-link:hover {
  background:rgba(66, 25, 42, 0.3);
  box-shadow: 4px 4px 10px rgb(107, 80, 80);
  color: rgba(66, 25, 42, 1);
}

@media screen and (max-width: 600px) {
  .container {
    width: unset;
  }

  .project {
    max-width: 90vw;
  }
}
