.skills {
    flex-direction: column;
}

.skills>h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

#skills-li>ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
}

ul>li {
    text-align: left;
    display: flex;
    align-items: flex-start;
}

li>img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    .container.skills {
        width: 100%;
    }
}
