.skills {
    flex-direction: column;
}

.skills>h3 {
    font-size: 24px;
}

#skills-li>ul {
    list-style: none;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}

ul>li {
    text-align: center;
    width: 40%;
    margin: 5px;
    display: flex;
        align-items: center;
}

#html {
    width: 80%;
}

li>img {
    width: 25px;
    height: 25px;
    margin: 3px;
}