.about {
    flex-direction: column;
}

.about h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.about-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.about-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 7px rgb(107, 80, 80);
    padding: 20px;
    text-align: center;
}

.about-svg {
    width: 100%;
    border-bottom: 1px solid #000;
}

.about-box svg {
    width: 70px;
    display: block;
    margin: 20px auto;
    margin-top: 0;
}

.about-box h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}
