.about-txt>h3 {
    margin: 7px;
    font-size: 24px;
}

.about-txt>p {
    margin: 7px;
    font-size: 18px;
}

.about>img {
    max-height: 200px;
    margin: 40px 10px 10px 10px;
}


@media screen and (max-width: 500px) {

    .about-txt>p {
        font-size: 16px;
    }
}
