#about {
    font-size: 18px;
}

#about-txt>h3 {
    margin: 7px;
    font-family: 'Sriracha';
}

#about-txt>p {
    margin: 7px;
    font-family: 'Sriracha';
}

#about>img {
    margin: 10px;
    max-width: 350px;
}