* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FFFDED;
}

main {
    display: flex;
        flex-direction: column;
        align-items: center;
}

header {
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url('./pictures/green-pattern.jpg');
    display: flex;
        align-items: center;
        justify-content: space-around;
}

#presentation {
    margin: 20px;
    text-align: center;
    display: flex;
        flex-direction: column;
        align-items: center;
}

#presentation>img {
    margin: 5px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

#presentation>h1 {
    padding: 10px;
    font-family: 'Impact';
    color: #FFFDED;
}

#presentation>h2 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Sriracha', serif;
    color: #FFFDED;
    font-size: 18px;
}

header>nav {
    margin: 15px;
    width: 60%;
    align-self: flex-end;
}

#main-menu {
    width: 100%;
    list-style: none;
    display: flex;
        flex-direction: row;
        justify-content: space-around;
}

#main-menu>li {
    padding: 5px;
    margin: 15px;
}

#main-menu>li>a {
    font-family: 'Sriracha';
    font-size: 30px;
    text-decoration: none;
    color: #FFFDED;
}

#main-menu>li>a:hover {
    text-decoration: underline;
}

.container {
    margin: 25px;
    padding: 15px;
    width: 90%;
    background-color: #EFEBCA;
    border: 2px solid black;
    border-radius: 25px;
}
